.ico-tzan {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background: url(../imgs/ico-tzan@2x.png) no-repeat center;
    background-size: 0.48rem;
}

.active .ico-tzan {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background: url(../imgs/ico-tzan-active@2x.png) no-repeat center;
    background-size: 0.48rem;
}

.ico-zan {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background: url(../imgs/ico-zan@2x.png) no-repeat center;
    background-size: 0.48rem;
}

.active .ico-zan {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background: url(../imgs/ico-zan-active@2x.png) no-repeat center;
    background-size: 0.48rem;
}
.ico-tzan-s {
    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
    background: url(../imgs/ico-tzan-s@2x.png) no-repeat center;
    background-size: 0.28rem;
}

.active .ico-tzan-s {
    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
    background: url(../imgs/ico-tzan-s-active@2x.png) no-repeat center;
    background-size: 0.28rem;
}

.ico-zan-s {
    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
    background: url(../imgs/ico-zan-s@2x.png) no-repeat center;
    background-size: 0.28rem;
}

.active .ico-zan-s {
    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
    background: url(../imgs/ico-zan-s-active@2x.png) no-repeat center;
    background-size: 0.28rem;
}

.ico-arrow-right {
    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
    background: url(../imgs/ico-arrow-right@2x.png) no-repeat center;
    background-size: 0.17rem 0.3rem;
    vertical-align: middle;
}

.ico-del {
    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
    background: url(../imgs/ico-del@2x.png) no-repeat center;
    background-size: 0.3rem;
    vertical-align: middle;
}

.ico-detail {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background: url(../imgs/ico-detail@2x.png) no-repeat center;
    background-size: 0.48rem;
    vertical-align: middle
}

.active .ico-detail {
    background: url(../imgs/ico-detail-active@2x.png) no-repeat center;
    background-size: 0.48rem;
}

.ico-user {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background: url(../imgs/ico-user@2x.png) no-repeat center;
    background-size: 0.48rem;
    vertical-align: middle
}

.active .ico-user {
    background: url(../imgs/ico-user-active@2x.png) no-repeat center;
    background-size: 0.48rem;
}

.ico-works {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background: url(../imgs/ico-works@2x.png) no-repeat center;
    background-size: 0.48rem;
    vertical-align: middle
}

.active .ico-works {
    background: url(../imgs/ico-works-active@2x.png) no-repeat center;
    background-size: 0.48rem;
}

.ico-show {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background: url(../imgs/ico-show@2x.png) no-repeat center;
    background-size: 0.48rem;
    vertical-align: middle
}

.active .ico-show {
    background: url(../imgs/ico-show-active@2x.png) no-repeat center;
    background-size: 0.48rem;
}
